*{
    border: 1px red solid;
}

body {
    background-color: aliceblue;
}

nav {
    display: inline-flex;
    background-color: aqua;
    width:100%;
}

.nav_point{
    width: auto;
    padding: 0px 80px;
    background-color: aliceblue;
}
