*{
    border: 1px red solid;
    
}

body {
    margin: 10px 100px;
    background-image: url("https://stsci-opo.org/STScI-01G77PKYA4T05YKJ3EDQ36NZCX.png");
    background-size: cover;
}

nav {
    display: inline-flex;
    background-color: aqua;
    width:100%;
}

.nav_point{
    width: auto;
    padding: 0px 80px;
    background-color: aliceblue;
}

footer {
    background-color: aqua;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    
    padding: 10px;
}

.grid-item {
    background-color: aquamarine;
}

.item1 {
    grid-column: 1 / span 2;
}

.item4 {
    grid-column: 1 / span 2;
}