
body {
    background-color: #3772FF;
}
header {
    display: inline-block;
    background-color: #DF2935;
    width:100%;
    border:3px #080708 solid;
    text-align: center;
}

header h3 {
    font-size: 45px;
}

footer {
    display: inline-block;
    background-color: #DF2935;
    border:3px #080708 solid;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.grid-container {
    grid-template-columns: 50% 50%;
    background-color: #E6E8E6;
    padding: 0px;
    border: 3px solid #080708;
    width: 100%;
    
}
.container1 img {
    display: inline-flex;
    width: 25%;
    height: auto;
    margin-left:10px;
    margin-right: auto;
    
}

.item1 {
    grid-column: 1 / span 2;
}

.item4 {
    grid-column: 1 / span 2;
}

button {
    color: black;
    background-color: #E6E8E6;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 3px solid #080708;
    
}

button:hover {
    background-color: #FDCA40;
    
}

button:active {
    background-color: #FDCA40;
    transition-duration: 0.2s;
    margin:6px 4px;
    padding: 8px 38px;
}

.grid-container .container3 {
    transition-duration: 5.5s;
}